/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main styles */
#preload {
    display: none;
}

#game-wrapper {
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
}

#game-area.spring {
    background-image: url(images/land1.jpg);
}

#game-area.summer {
    background-image: url(images/land2.jpg);
}

#game-area.autumn {
    background-image: url(images/land3.jpg);
}

#game-area.winter {
    background-image: url(images/land4.jpg);
}

#exit {
    background-image: url(images/exit.png);
    background-repeat: no-repeat;
    display: none;
    left: 130px;
    height: 39px;
    position: absolute;
    top: 430px;
    width: 70px;
}

#game-area.tree {
    background-image: url(images/tree-internal.jpg);
}

#game-area.tree .prop, #game-area.house .prop, #game-area.pond .prop {
    display: none;
}

#game-area.tree #exit, #game-area.house #exit, #game-area.pond #exit {
    display: block;
}

#game-area.house {
    background-image: url(images/house-internal.jpg);
}

#game-wrapper, #game-area {
    height: 480px;
    width: 320px;
}

#game-area {
    background-repeat: no-repeat;
    left: 0;
    position: absolute;
    top: 0;
}

@-webkit-keyframes walk {
    0% { background-position: 3px; }
    33% { background-position: -47px; }
    66% { background-position: -97px; }
    100% { background-position: 3px; }
}

@-moz-keyframes walk {
    0% { background-position: 3px; }
    33% { background-position: -47px; }
    66% { background-position: -97px; }
    100% { background-position: 3px; }
}

#robot-bev {
    background-image: url(images/robot-bev.png);
    background-position: 3px;
    background-repeat: no-repeat;
    border-radius: 50px;
    height: 53px;
    position: absolute;
    width: 53px;
    z-index: 3;
}

#robot-bev.on {
    -webkit-animation: walk .5s step-end infinite;
    -moz-animation: walk .5s step-end infinite;
}

#robot-bev:hover {
    background-color: #fff;
    box-shadow: #000 0 0 5px;
}

#robot-bev.on:hover {
    background-color: transparent;
    box-shadow: none;
}

.prop, .house-prop, .tree-prop, .pond-prop {
    background-repeat: no-repeat;
    position: absolute;
}

.prop {
    z-index: 4;
}

.tree1 {
    background-image: url(images/tree1.png);
    height: 85px;
    left: 50px;
    top: 200px;
    width: 84px;
}

.tree2 {
    background-image: url(images/tree2.png);
    height: 67px;
    left: 130px;
    top: 275px;
    width: 72px;
}

.tree3 {
    background-image: url(images/tree3.png);
    height: 67px;
    left: 150px;
    top: 195px;
    width:67px;
}

@-webkit-keyframes cloud {
    from { left: -165px; }
    to { left: 500px; }
}

@-moz-keyframes cloud {
    from { left: -165px; }
    to { left: 500px; }
}

.cloud1 {
    -webkit-animation: cloud 155s ease-in infinite;
    -moz-animation: cloud 155s ease-in infinite;
    background-image: url(images/cloud1.png);
    height: 80px;
    left: -165px;
    top: 300px;
    width: 160px;
}

.cloud2 {
    -webkit-animation: cloud 90s ease-in infinite;
    -moz-animation: cloud 90s ease-in infinite;
    background-image: url(images/cloud2.png);
    height: 80px;
    left: -165px;
    top: 50px;
    width: 160px;
}

.cloud3 {
    -webkit-animation: cloud 390s ease-in infinite;
    -moz-animation: cloud 390s ease-in infinite;
    background-image: url(images/cloud2.png);
    height: 80px;
    left: -265px;
    top: 200px;
    width: 160px;
}

.house {
    background-image: url(images/house.png);
    height: 100px;
    left: 210px;
    width: 100px;
    top: 370px;
}

@-webkit-keyframes smoke {
    from {
        left: 272px;
        opacity: 0.7;
        padding: 5px;
        top: 400px;
    }
    to {
        left: 390px;
        opacity: 0.1;
        padding: 35px;
        top: 100px;
    }
}

@-moz-keyframes smoke {
    from {
        left: 272px;
        opacity: 0.7;
        padding: 5px;
        top: 400px;
    }
    to {
        left: 390px;
        opacity: 0.1;
        padding: 35px;
        top: 100px;
    }
}

.smoke {
    background-color: #fff;
    border-radius: 100px;
    box-shadow: #fff 1px 1px 5px;
    left: 272px;
    opacity: 0.7;
    padding: 5px;
    top: 400px;
}

.smoke1 {
    -webkit-animation: smoke 3s ease-in infinite;
    -moz-animation: smoke 3s ease-in infinite;
}

.smoke2 {
    -webkit-animation: smoke 4s ease-in infinite;
    -moz-animation: smoke 4s ease-in infinite;
}

@-webkit-keyframes scene {
    0% {
        border: 100px solid #111;
    }
    20% {
        border: 150px solid #111;
        padding: 150px;
    }
    40% {
        border: 200px solid #111;
        padding: 100px;
    }
    60% {
        border: 250px solid #111;
        padding: 50px;
    }
    80% {
        border: 300px solid #111;
        padding: 0;
    }
    100% {
        background-color: #111;
    }
}

@-moz-keyframes scene {
    0% {
        border: 100px solid #111;
    }
    20% {
        border: 150px solid #111;
        padding: 150px;
    }
    40% {
        border: 200px solid #111;
        padding: 100px;
    }
    60% {
        border: 250px solid #111;
        padding: 50px;
    }
    80% {
        border: 300px solid #111;
        padding: 0;
    }
    100% {
        background-color: #111;
    }
}

#scene-change {
    background-color: transparent;
    border: 100px solid #111;
    border-radius: 400px;
    display: none;
    height: 60px;
    left: -170px;
    padding: 200px;
    position: absolute;
    top: -90px;
    width: 60px;
    z-index: 5;
}

#scene-change.on {
    -webkit-animation: scene 1s steps(6, end);
    -moz-animation: scene 1s steps(6, end);
    display: block;
}

#time-of-day {
    background-color: transparent;
    height: 480px;
    opacity: 0.25;
    width: 320px;
}

#time-of-day.evening {
    background-color: #516bdb;
}

#time-of-day.night {
    background-color: #112476;
    opacity: 0.4;
}

#game-area.house .bed {
    background-image: url(images/bed1.png);
    height: 87px;
    left: 260px;
    top: 20px;
    width: 56px;
    z-index: 2;
}

.fruit {
    background-color: #f00;
    border-radius: 100px;
    box-shadow: #111 1px 1px 4px;
    height: 20px;
    width: 20px;
    z-index: 2;
}

.pond {
    background-image: url(images/pond.png);
    height: 87px;
    left: 10px;
    top: 370px;
    width: 84px;
    z-index: 2;
}

#game-area.pond {
    background-image: url(images/pond-internal.jpg);
}
